*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* HeaderMYP */


.headerMyP {
    background-color: #1b1b1b65;
    box-shadow: 0px 5px 8px 2px rgba(0,0,0,0.89); 

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.headerMyP .container-logosMyP {
    margin: 0 20px;
    max-width: 150px;
    display: flex;
    align-items: center;
}

.headerMyP .container-logosMyP .logosMyP {
    margin-left:4px;
    margin-right: 5px;
    display: flex;
    height: 40px;
}
#logoMyP{
    height: 70px;
    
}

#logoMyP:hover {
color: rgb(255, 13, 13);
transition: 0.5s;

opacity: 0.8;
}
/*  */

.fundo{
    color: rgb(255, 255, 255);
    background-color: #303030;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

    width: 100%;
    height: 100%;
    
}
.fundo h1{
    color: #164DF2;
    background-color: #0D0D0D;

    text-align: center;
    font-size: 32px;
    
    width: 380px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
}
.box { 
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.calculadora{
    background: #0d0d0d86;

    font-size: 18px;
    text-align: center;

    position: absolute;
    padding: 20px;
    border-radius: 10px;
}
.calculadora table{
    text-align: center;
    margin: auto;
}

.calculadora .botao{
    color: rgb(255, 255, 255);
    background-color: rgba(3, 3, 3, 0.74);

    font-size: 18px;

    width: 50px;
    height: 50px;
    margin: 3px;
    border: 0.1mm solid rgba(65, 65, 65, 0.445);

    cursor: pointer;
}

.calculadora .botao-color{
    background-color: #3071F2;
}
.calculadora .botao-igual{
    background-color: #053bdf;
}
.botao:hover{
    background-color: #87a9ee;
}

#display{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgba(0, 0, 0, 0.603);
  
    border-radius: 5px;
    display: table;
    margin: 4px auto 10px auto;
    height: 40px;
}    
#text-display{
    color: black;

    font-size: 25px;
    text-align: right;
    text-align: right;

    width: 210px;

    display: table-cell;
    vertical-align: middle;
}

@media screen and (max-width: 450px) {

    .headerMyP{
    display: none;
    }
    .fundo h1{
        font-size: 140%;
        margin: auto;
    }

}
@media screen and (max-width: 450px) {

    
}
@media screen and (max-width: 380px) {

    .fundo h1{
        font-size: 130%;
        margin: auto;
        width: 230px;
    }

}
@media screen and (max-width: 310px) {

    .calculadora{
        padding: 8px;
    }
    .calculadora .botao{
        width: 47px;
        height: 47px;
    }

}


