*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #303030;
    font-family: cursive;
}

/* aside */


.aside a{
    color: rgb(255, 255, 255);
    box-shadow: inset -1px 3px 8px 5px #0000006b, 2px 5px 16px 0px #ffffff2d, 5px 5px 15px 5px #0000002f;

    text-decoration: none;
    font-size: 18px;
    text-align: center;

    margin-top:180px;
    padding: 7px;
    width: 320px;
    left: -280px;
    position: absolute;
    border-radius: 10px;
    
    transition: 0.4s;
}

aside a:hover{
    left:0;
}
/* HeaderMYP */


.headerMyP {
    background-color:#1b1b1b65;
    box-shadow: 0px 5px 8px 2px rgba(0,0,0,0.89); 

    align-items: center;
    justify-content: space-between;
    display: flex;
}

.headerMyP .container-logosMyP {
    margin: 0 20px;
    max-width: 150px;

    align-items: center;
    display: flex;
}

.headerMyP .container-logosMyP .logosMyP {
    margin-left:4px;
    margin-right: 5px;
    display: flex;
    height: 40px;
}
#logoMyP{
    height: 70px;
    
}

#logoMyP:hover {   
color: rgb(255, 13, 13);
transition: 0.5s;

opacity: 0.8;
}
/*  */

.container-h1{
    background-color:  #0D0D0D;
    text-align: center;

    max-width: 320px;
    margin: 40px auto;
    border-radius: 6px;
}
.container-h1 h1{
    color: #164DF2;

    font-size: 25px;
    
    margin-bottom: 100px;
    border-radius: 89px;
}
/*  */

/*container-conteudo */


.linhas{
    align-items: center;
    justify-content: center;

    margin: 50px auto;

    display: flex;
    flex-wrap: wrap
}




.cards{

    background-color:#1b1b1b;
    border-bottom: 4px solid #3071F2;
    border-right: 2px solid #3071F2;
    
    max-width: 220px;
    width: 220px;
    max-height: 230px;
    height: 205px;
    margin: 20px auto;

    border-radius: 6px;
}

.cards a{
    color: rgb(255, 255, 255);

    text-decoration: none;
}

.cards h2{
    color: #3061F2;

    text-align: center;
    font-size: 17px;
}
.cards p{
    color: #3071F2;

    font-size: 15px;
    text-align: center;

    margin: auto;
}
.cards img{
    margin-top: 23px;
    width: 115px;
    align-items: flex-end;
}
.cards .icon{
    text-align: center;
    max-height: 125px;
    align-items: center;

    
}
.cards:hover{
    background-color:#1b1b1b;
}

hr{
background-image: radial-gradient(#ffffff54, #0000002a);
box-shadow: 0px 0px 11px 1px rgba(99, 99, 99, 0.384);

border: none;
border-radius: 90%;

width: 95%;
margin: auto;
height: 8px;

}


@media screen and (max-width: 800px) {
    .linhas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        margin: auto;
    }
}

@media screen and (max-width: 670px) {
    .linhas {
        display: grid;
        grid-template-columns: 1fr;
        margin: auto;
        padding: 40px;
    }


}


@media screen and (max-width: 470px) {

    .container-h1 h1{
    font-size: 140%;
    }
}
@media screen and (max-width: 350px) {

    .headerMyP{
    display: none;
    }
    
}


