*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #303030;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}


/* HeaderMYP */


.headerMyP {
    background-color:#1b1b1b65;
    box-shadow: 0px 5px 8px 2px rgba(0,0,0,0.89); 

    align-items: center;
    display: flex;
}

.headerMyP .container-logosMyP {
    margin-left:auto;
    max-width: 150px;
    display: flex;
    justify-content: flex-end;
}

.headerMyP .container-logosMyP .logosMyP {
    margin-left:4px;
    margin-right: 5px;
    height: 40px;
}
.container-logo{
    display: flex;
    justify-content: flex-start;
}
#logoMyP{
    height: 70px;
}

#logoMyP:hover {   
transition: 0.5s;

opacity: 0.8;
}
/*  */
/* nav-list */

.nav-list {
    list-style: none;
    display: flex;
}
  
.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}
.nav-list a{
    color: #164DF2;
    text-decoration: none;
}  
.mobile-menu {
    display: none;
    cursor: pointer;
}
  
.mobile-menu div {
    width: 28px;
    height: 2px;
    background:  #849ee4;
    margin: 8px;
    transition: 0.3s;
}

.nav-list {
    position: absolute;
    top: 12.5vh;
    right: 0;
    width: 20vw;
    height: 92vh;
    background:#282828;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
}
.nav-list li {
    margin-left: 0;
    opacity: 0;
}
.mobile-menu {
    display: block;
}

.nav-list.active {
  transform: translateX(0);
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}
  
.mobile-menu.active .line2 {
    opacity: 0;
}
  
.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}


.container-h1{
    background-color:  #0D0D0D;
    text-align: center;
    font-family: 'Lobster Two', cursive;
    max-width: 320px;
    margin: 10px auto;
    border-radius: 6px;
}
.container-h1 h1{
    color: #164DF2;

    font-size: 25px;
    
    margin-bottom: 10px;
    border-radius: 89px;
}


/* Sobre Mim */


#elemento-1{
    background-color: #0000006c;
    padding: 75px 0;
}
.sobreMim{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    color: white;
    
}
.sobreMim h3{
    text-align: center;
    font-size: 25px;
    
}

.lateral-sobre-mim{
    color: white;

}
.sobreMim h1{
    text-align: center;
    margin-bottom: 15px;
}
.sobreMim p{

    text-align: center;
    width: 400px;
}
.sobreMim img{
    box-shadow: -7px 7px 0px 1px #0142ce;
    height: 260px;
}

.sobreMim h4{
    text-align: center;
}
.sobreMim .conhecimentos {
    width: 40vw;
    padding-left: 70px;
    border-left: 5px solid black;
}
.sobreMim .conhecimentos .linguagens h4{
    margin-bottom: 20px;
    height: 100px;
    flex-direction: row;

    border-radius: 5px;
}

.sobreMim .conhecimentos h3{
    margin-bottom: 20px;
}
/* Projetos Principais */

#elemento-2{
    margin-top: 50px;
}

.cards-projetos-principais{
    background-color: #1B1B1B;
    color: #fff;
    border-right: 3px solid #3071F2;

    width: 98vw;
    height: 35vh;
    max-height: 200px;
    text-align: center;

    justify-content: center;
    margin: 10px auto 60px auto;
    display: flex;

    position: relative;
}
.conteudo-principais-projetos{
    overflow: hidden;
    align-items: center;
    width: 100%; 
}
.conteudo-principais-projetos h2{
    background-color: #1C1C1C;
    font-size: 20px;
}
.conteudo-principais-projetos  img{
    
    opacity: 70%;
    width: 100%;
    height: 100%;
}
.conteudo-principais-projetos .barra-abaixo{
    background-color: #1C1C1C;
    border-bottom: 5px solid #3071F2;
    border-right: 3px solid #3071F2;


    
    position: absolute;
    margin-top: -28px;
    z-index: -2;
    display:flex;
    width: 98vw;
    justify-content: space-between;

}
.conteudo-principais-projetos .linguagens{
    flex-direction: row;
    display: flex;
    text-align: center;
    align-items: center;
}

.conteudo-principais-projetos h4{
    border: 1px solid black;
    border-radius: 6px;
    
    text-align: center;
    
    padding: 2px;
    width: 70px;
    margin-left:15px;
}
.conteudo-principais-projetos .descricao{
    position: relative;
    text-align: center;
    width: 60%;
    
}

#css{
    background-color: blue;
}
#js{
    background-color: orange;
}
#html{
    background-color: red;
}
/* Mini Projetos */
#elemento-3{
    margin-top: 150px;
}

.linhas{
    align-items: center;
    justify-content: space-between;

    margin: 50px 10px 0 10px;

    display: flex;
    flex-wrap: wrap
}

.linhas .cards{

    background-color:#1b1b1b;
    border-bottom: 4px solid #3071F2;
    border-right: 2px solid #3071F2;
    
    max-width: 220px;
    width: 220px;
    max-height: 230px;      
    height: 205px;
    margin: 10px auto;

    border-radius: 6px;

    position: relative;
}

.cards-principais-projetos{
    background-color:#1b1b1b;
    width: 90vw;
    height: 250px;

}
a{
    color: rgb(255, 255, 255);
    
    text-decoration: none;
}

.linhas .cards h2{
    color: #3a3de7;
    text-align: center;
    font-size: 17px;

    
}
.linhas .cards p{
    color: #3071F2;

    font-size: 15px;
    text-align: center;

    margin: auto;
}
.linhas .cards img{
    margin-top: 23px;
    width: 115px;
    align-items: flex-end;
}
.cards:hover img{
    opacity: 60%;
}

.linhas .cards .icon{
    text-align: center;
    max-height: 125px;
}
.linhas .cards:hover{
    background-color:#1b1b1b;
}

.cards::before {
    content: '';

    top: 5px;
    bottom: 5px;
    left: 3%;

    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
    border-left: solid 1px #fff;

    position: absolute;
    transform: scale(1, 0);
    transition: ease-out 0.25s;
    transition-delay: 0.15s;
}

.cards:hover::before {
    transform: scale(1 , 1);
}

.cards::after {
    content: '';

    top: 5px;
    bottom: 5px;
    
    left: 97%;
    right: 97%;

    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
    border-right: solid 1px #fff;

    position: absolute;
    transform: scale(1, 0);
    transition: ease-out 0.25s;
    transition-delay: 0.15s;
}

.cards:hover::after {
    transform: scale(1);
}

hr{
background-image: radial-gradient(#ffffff54, #0000002a);
box-shadow: 0px 0px 11px 1px rgba(99, 99, 99, 0.384);

border: none;
border-radius: 90%;

width: 95%;
margin: auto;
height: 8px;

}

footer{
    background-color: #1C1C1C;
    border-top: 6px solid black;
    color: white;

    margin-top: 200px;
    text-align: center;

}
.container-footer{
    justify-content: center;
    display: flex;
    align-items: center;
}
.container-footer a{
    text-decoration: underline;
 }
.container-footer span{
   margin: 0 20px;
}

@media screen and (max-width: 959px) {
    .sobreMim #fotoMinha {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .linhas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        margin: auto;
    }
    .sobreMim {
        flex-direction: column;
        
    }
    
    .sobreMim .conhecimentos {
        width: 60vw;
        padding-top: 50px;
        padding-left: 0;
        border-left: none;
    }
}

@media screen and (max-width: 670px) {
    .linhas {
        display: grid;
        grid-template-columns: 1fr;
        margin: auto;
        padding: 40px;
    }
}

@media screen and (max-width: 470px) {

    .container-h1 h1{
    font-size: 140%;
    }
    .sobreMim .conhecimentos {
        width: 280px;
    }
    .lateral-sobre-mim p{
        width: 280px;
    }
}
@media screen and (max-width: 350px) {

    .container-logo{
    display: none;
    }
    .headerMyP .container-logosMyP {
        margin: auto;
        justify-content: center;
    }
}

/*  */

@keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }