*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(32, 32, 32);
    font-family: Arial, Helvetica, sans-serif;
}

/* header */
header{
    background-color: rgba(0, 0, 0, 0.048);

    height:10vh;
    width: 100vw;

    display: flex;
    justify-content: space-between;

    position: fixed;    
    z-index: 1;
    
}

#logo img{
    height: 70px;
}
.nav-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 20px;
}
.nav-list button{
    letter-spacing: 2px;
    margin-left: 20px;
    
    align-items: center;
}
.nav-list button{
    background-color: gray;
    color: white;

    padding: 3px;
    border: none;
    border-radius: 2px;
    margin: auto 10px ;
    
    justify-content: flex-end;
}
.nav-list button:hover{
    background-color: rgb(41, 41, 41);
    transition: 0.5s;
    cursor: pointer;
}

/*  */

/* Section-1 */

.section-1{
    height:77vh;
    text-align: center;
    
}   
.imagem{
    position: relative;
    height: 100%;
    overflow: hidden;

}
.imagem img{
    background-color: #001aff42;
    
    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);  
    min-width: 100%;
    height: 100%;

    opacity: 60%;
}
.container-1{  
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);

    color: white;
    min-width: 320px;

}
.container-1 h1{
    color: #164DF2;

    text-align: center;
    font-size: 35px;
    width: 100%;
}
.container-1 span p{
    color:#3071F2 ;

    text-align: center;
    font-size: 20px;
}
.container-1 button{
    background-color: gray;
    color: white;

    font-size: 17px;

    border: none;
    width: 60%;
    padding: 5px;
    margin: 40px 0 10px 0;

    border-radius: 5px; 
}
.container-1 button:hover{
    background-color: rgb(41, 41, 41);
    cursor: pointer;
    transition: 0.5s;
}   
hr{
    background-color: white;

    border: none;
    height: 4px;
}


/* cards */

.linhas{
    background-color: #080e47;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
    padding-top: 50px;

    display: flex;
    flex-wrap: wrap;
}
h2{
    color: #164DF2;
    background-color: #090e3a9c;
    text-align: center;

    font-size: 30px;

}

.cards{

    background-color:#1b1b1b;
    border-bottom: 4px solid #3071F2;
    border-right: 2px solid #3071F2;
    
    width: 320px;
    height: 280px;
    margin: 50px auto 30px auto;

    border-radius: 6px
    
}

.cards a{
    color: rgb(255, 255, 255);

    text-decoration: none;
}

.cards h2{
    color: #3061F2;

    text-align: center;
    font-size: 17px;
}
.cards h3{
    color: #3071F2;

    font-size: 15px;
    text-align: left;
    text-indent: 8px;

    margin: 10px 0;
}
span li {
    color: white;

    font-size: 15px;

    text-align: left;
    position: relative;
    left:22px;
}

.cards img{
    margin-top: 23px;
    width: 90px;
    height: 90px;
}
.cards .icon{
    text-align: center;    
    align-items: center;
}
.cards:hover{
    background-color:#1b1b1b;
}
.box-button{
    display: flex;
    justify-content: center;
}
 .cards button{
    background-color: black;
    color: white;

    font-size: 19px;

    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    
}
.cards button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

    transition-duration: 0.6s;
    cursor: pointer;
}

.containerImg{
    display: flex;
    flex-direction: row;
}
.container-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.section-3 h3{
    align-items: center;
    color: #3061F2;
    font-size: 20px;
    max-width: 600px;
    text-align: center;
}
.section-3 p{
    color: #3061F2;
    font-size: 17px;
    width: 600px;
    text-align: center;

}
.section-3 img{

    width: 250px;
    height: 180px;
    position: relative;
    right:10px;
    margin: 20px auto;
    right: 0%;
    left: 50;
}



@media screen and (max-width: 1045px) {
    .linhas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        margin: auto;
    }
    
    
    .section-3 h3{
        font-size: 19px;
        width: 100%;
        text-align: center;
    }
    .section-3 p{
        font-size: 15px;
        width: 100%;
        text-align: center;
    }  
    .section-3 img{
        position: relative;
        width: 200px;
        height: 150px;

        margin:auto ;
        justify-content: center;
        
    }
    
    
}
@media screen and (max-width: 890px) {
    .container-1 h1{

        font-size: 29px;
        width: 95%;
    }
}
@media screen and (max-width: 670px) {
    .linhas {
        display: grid;
        grid-template-columns: 1fr;
        margin: auto;
        padding: 40px;
    }
    .containerImg{
        display: grid;
        grid-template-columns: 1fr ;
        justify-content: center;
        margin: auto;
        
    }
    .container-1 h1{
        color: #164DF2;
    
        text-align: center;
        font-size: 27px;
    }
}
@media screen and (max-width: 550px) {
    .container-1 h1{
        font-size: 23px;
        width: 100%;
    }
    /* .container-1 button{
            
    } */

}
@media screen and (max-width: 400px) {
    .container-1 h1{
        font-size: 20px;
        width: 100%;
    }
}
@media screen and (max-width: 360px) {
    .nav-list{
        flex-direction: column;
    }
    .nav-list button{
        margin-top: 4px;
        font-size: 9px;
    }
     .cards{
         width: 250px;
     }
     .cards img{

        width: 90px;
        height: 90px;
        align-items: flex-end;
    }
    span li {
        font-size: 14px;
        width: 220px;

    }
    
}

